/* Strat CSS rules*/


/* Import goole font */

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;500;600;700;800;900&family=Dosis:wght@200;300;400;500;600;700;800&family=Fredoka:wght@300;400;500;600;700&family=Lato:wght@100;300;400;700;900&family=Patua+One&family=Poppins:wght@100;200;400;500;600;700;800;900&family=Readex+Pro:wght@200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&family=Secular+One&family=Staatliches&family=Tajawal:wght@200;300;400;500;700;800;900&family=Ubuntu:wght@300;400;500;700&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Readex Pro', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --skin-color: #ffa800;
    --dark-grey-color: #0c2d62;
    --dark-color: #000000;
    --body-fonts-color: #8592a6;
    --grey-color: #f1f4f9;
    --white-color: #fff;
}

.fab,
.far,
.fa {
    font-weight: 900;
}

a {
    text-decoration: none;
}


/* Animation */

@keyframes moving {
    0%,
    10%,
    20%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
    40%,
    60%,
    90%,
    100% {
        transform: translateX(-15px);
        -webkit-transform: translateX(-15px);
        -moz-transform: translateX(-15px);
        -ms-transform: translateX(-15px);
        -o-transform: translateX(-15px);
    }
}

@keyframes moving-up {
    0%,
    100% {
        top: 0;
        left: 0;
    }
    50% {
        top: 10px;
        left: 10px;
    }
}


/* End of CSS rules */


/* Nav  */

.navbar {
    background-color: var(--white-color);
    box-shadow: 0px 13px 25px -12px rgb(0 0 0 / 25%);
}

.navbar .navbar-brand {
    width: 200px;
    z-index: 1;
}

.navbar::before {
    position: absolute;
    content: "";
    background-color: var(--grey-color);
    width: 30%;
    height: 100%;
    right: 0;
    top: 0;
}

@media (max-width:767px) {
    .navbar::before {
        display: none;
    }
}

.navbar .navbar-brand img {
    max-width: 60%;
    height: auto;
}

@media (max-width: 767px) {
    .navbar .navbar-brand img {
        max-width: 50%;
        margin-right: -30px;
    }
}

.navbar-nav .nav-link {
    position: relative;
    color: var(--dark-grey-color) !important;
    font-weight: 400;
    font-size: 20px;
}

.navbar-nav .nav-link::before,
.navbar-nav .nav-link::after {
    position: absolute;
    content: '';
    height: 2px;
    background-color: var(--skin-color);
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

@media (max-width: 767px) {
    .navbar-nav .nav-link:hover::before,
    .navbar-nav .nav-link:hover::after {
        display: none;
    }
    .navbar-nav .nav-link.active::before,
    .navbar-nav .nav-link.active::after {
        display: none;
    }
}

.navbar-nav .nav-link::before {
    right: 12px;
    top: -5px;
    width: 0;
}

.navbar-nav .nav-link::after {
    left: 12px;
    bottom: -5px;
    width: 0;
}

.navbar-nav .nav-link:hover::before,
.navbar-nav .nav-link:hover::after {
    width: 20px;
}

.navbar-nav .nav-link.active::before,
.navbar-nav .nav-link.active::after {
    width: 20px;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    color: var(--skin-color) !important;
}

.swiper {
    margin-top: calc(100% -170px);
    width: 100%;
    height: 680px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slidetext vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* top section */

.top-section {
    position: relative;
    top: -100px;
    z-index: 1;
}

.top-section .col-title {
    position: relative;
    background-color: var(--dark-grey-color);
    padding: 20px 75px 75px 0px;
}

.top-section .col-title::before {
    content: "";
    right: -20px;
    top: 0;
    height: 100%;
    width: 7px;
    background-color: var(--skin-color);
    position: absolute;
}

.top-section .col-title .title {
    color: var(--white-color);
    line-height: 1.6;
    margin-bottom: 20px;
}

.top-section .col-title .title span {
    color: var(--skin-color);
    font-size: 35px;
}

.top-section .col-title p {
    color: var(--grey-color);
    font-size: 16px;
    line-height: 2.2;
    font-weight: 300;
    width: 70%;
}

.top-section .col-title p a {
    text-decoration: none;
    color: var(--skin-color);
    cursor: pointer;
}

.top-section .title-image {
    position: absolute;
    transform: translate(10px, 67px);
    top: 207px;
    right: 108px;
}

.feautred {
    position: relative;
    background-color: var(--white-color);
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 9%);
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

.feautred:hover {
    transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
}

.feautred .featured-icon {
    padding: 45px 30px;
}

.feautred .featured-icon .icon {
    background-color: var(--grey-color);
    display: inline-block;
    padding: 14px;
}

.feautred .featured-icon .icon img {
    width: 80px;
}

.feautred .featured-content {
    padding: 0 30px 0 30px;
}

.feautred .featured-content h3 {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 15px;
    font-weight: 700;
    word-wrap: break-word;
    color: var(--dark-grey-color);
}

.feautred .featured-desc {
    padding: 10px 40px 30px;
}

.feautred .featured-desc p {
    color: var(--body-fonts-color);
    font-size: 16px;
    line-height: 2;
}

.feautred a {
    color: var(--dark-grey-color);
    text-decoration: none;
    transition: 0.3s;
    font-weight: 600;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.feautred a:hover {
    color: var(--skin-color);
}

.feautred a:hover i {
    animation: moving 1.5s infinite;
    -webkit-animation: moving 1.5s infinite;
}

.feautred a i {
    color: var(--skin-color);
}

@media (max-width: 767px) {
    .top-section .col-title {
        padding: 20px 20px 180px 20px;
        margin-bottom: 30px;
    }
    .top-section .col-title .title span {
        font-size: 32px;
    }
    .top-section .col-title p {
        width: 100%;
    }
    .top-section .title-image {
        position: absolute;
        transform: translate(-6%, 325px);
        top: -20px;
        right: 0;
        z-index: 1;
        -webkit-transform: translate(-6%, 325px);
        -moz-transform: translate(-6%, 325px);
        -ms-transform: translate(-6%, 325px);
        -o-transform: translate(-6%, 325px);
    }
    .top-section .title-image img {
        width: 90%
    }
    .feautred {
        margin-bottom: 30px;
    }
    .top-section .col-title::before {
        right: 0;
    }
    .top-section .col-title {
        padding-right: 20px;
    }
}


/* end of top section */


/* About us */

.about-us {
    padding-top: 100px;
    padding-bottom: 100px;
}

.about-us .section-title .title-header {
    position: relative;
    margin-bottom: 30px;
}

.about-us .section-title .title-header::before {
    content: "";
    position: absolute;
    width: 7px;
    height: 100%;
    background: var(--skin-color);
    right: -20px;
}

.about-us .section-title .title-header h3 {
    color: var(--body-fonts-color);
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
}

.about-us .section-title .title-header .title {
    color: var(--dark-grey-color);
    line-height: 1.7;
    font-size: 40px;
    font-weight: 600;
    padding: 0 0 0 234px
}

.about-us .section-title .title-header .title span {
    color: var(--skin-color);
    font-style: italic;
}

.about-us .section-title .title-desc {
    margin-bottom: 35px;
    margin-right: -22px;
}

.about-us .section-title .title-desc p {
    padding: 0 0 0 45px;
    color: var(--body-fonts-color);
    line-height: 2;
    font-weight: 400;
}

.about-us .section-title .list-icon {
    list-style: none;
    margin-right: -52px;
}

.about-us .section-title .list-icon li {
    display: flex;
    gap: 20px;
    padding-bottom: 8px;
    transition: .3s;
    color: var(--body-fonts-color);
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.about-us .section-title .list-icon li i {
    color: var(--skin-color);
}

.about-us .section-title .list-icon span {
    cursor: text;
    font-weight: 600;
}

.about-us .section-title .list-icon span:hover {
    color: var(--skin-color);
}

.about-us .margin_top20 {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 30px;
    margin-right: -18px;
}

.about-us .margin_top20 a {
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.about-us .margin_top20 .btn-learn-more {
    border: 2px solid var(--dark-grey-color);
    color: var(--dark-grey-color);
    padding: 12px 29px;
    font-size: 16px;
    font-weight: 600;
}

.about-us .margin_top20 .btn-learn-more:hover {
    background-color: var(--dark-grey-color);
    color: var(--white-color);
}

.about-us .margin_top20 a:hover i {
    animation: moving 1.2s infinite;
    -webkit-animation: moving 1.2s infinite;
}

.about-us .margin_top20 .btn-services {
    padding: 12px 35px;
    background-color: var(--skin-color);
    color: var(--dark-grey-color);
}

.about-us .margin_top20 .btn-services:hover {
    background-color: var(--dark-grey-color);
    color: var(--white-color);
}

.about-us .single_image-about img {
    position: relative;
}

.about-us .image_text {
    position: relative;
    margin-top: 20px;
}

.about-us .image_text::before {
    content: "";
    position: absolute;
    background-color: var(--grey-color);
    width: 90%;
    top: -400px;
    height: 500px;
    z-index: -1;
}

.about-us .image_text p {
    position: relative;
    color: var(--dark-grey-color);
    font-size: 22px;
    font-weight: 600;
    line-height: 2;
    padding-right: 20px;
}

.about-us .image_text p::before {
    -webkit-mask: url(../images/about-us/quote-left-solid.svg);
    mask: url(../images/about-us/quote-left-solid.svg);
    -webkit-mask-box-image: url(../images/about-us/quote-left-solid.svg);
    -webkit-mask-size: cover;
    mask-size: cover;
    position: absolute;
    top: 55px;
    left: 300px;
    width: 30px;
    height: 22px;
    content: '';
    background-color: var(--skin-color);
    display: block;
}

@media (max-width: 767px) {
    .about-us .section-title .title-header {
        padding-right: 20px;
    }
    .about-us .section-title .title-header .title {
        padding: 0;
        font-size: 29px;
    }
    .about-us .section-title .title-desc {
        margin-right: 0px;
    }
    .about-us .section-title .title-desc p {
        padding: 0;
    }
    .about-us .section-title .list-icon {
        margin-right: 0;
    }
    .about-us .margin_top20 {
        margin-right: 0;
        column-gap: 20px;
    }
    .single_image-about {
        margin-top: 50px;
    }
    .about-us .image_text::before {
        width: 100%;
        top: -37px;
        height: 156px;
    }
    .about-us .image_text p {
        text-align: center;
        font-size: 18px;
        padding-right: 0;
    }
    .about-us .image_text p::before {
        top: 83px;
        left: 10px;
    }
    .about-us .section-title .title-header::before {
        right: 0;
    }
}


/* End of About us */


/* Start Services */

.services-section {
    position: relative;
    background-image: url(../images/services/row-bgimage-1.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 65px;
}

.services-section:after {
    content: "";
    background-color: var(--dark-grey-color);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    z-index: -1;
}

.services-section .section-title {
    z-index: 1;
    text-align: center;
}

.services-section .section-title .title-header {
    position: relative;
    margin-top: 60px;
    margin-bottom: 60px;
}

.services-section .section-title .title-header h3 {
    color: var(--white-color);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
}

.services-section .section-title .title-header h2 {
    font-weight: 700;
    color: var(--white-color);
    font-size: 45px;
}

@media (max-width :767px) {
    .services-section .section-title {
        text-align: right;
    }
    .services-section .section-title .title-header h2 {
        font-weight: 600;
        font-size: 29px;
    }
}

.services-section .section-title .title-header h2 span {
    color: var(--skin-color);
    font-style: italic;
}

.services-section .featured-icon-box .icon {
    margin-bottom: 24px;
}

.services-section .featured-icon-box img {
    width: 55px;
}

.services-section .featured-icon-box {
    background-color: #012052;
    padding: 55px 15px 52px;
    position: relative;
    text-align: center;
    overflow: hidden;
    -webkit-transition: all .9s;
    -moz-transition: all .9s;
    -o-transition: all .9s;
    -ms-transition: all .9s;
    transition: all .9s;
    z-index: 1;
}

.services-section .featured-icon-box::before,
.services-section .featured-icon-box::after {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    z-index: -1;
    position: absolute;
    content: '';
    width: 0px;
    height: 0px;
    opacity: 0;
}

.services-section .featured-icon-box:hover::before,
.services-section .featured-icon-box:hover:after {
    width: 80px;
    height: 80px;
    opacity: 1;
}

.services-section .featured-icon-box::after {
    content: '';
    border-left: 3px solid;
    border-top: 3px solid;
    top: 0px;
    left: 0px;
    color: var(--skin-color);
}

.services-section .featured-icon-box::before {
    content: '';
    border-right: 3px solid;
    border-bottom: 3px solid;
    bottom: 0;
    right: 0;
    color: var(--skin-color);
}

.services-section .featured-title {
    margin-bottom: 22px;
}

.services-section .featured-icon-box .featured-content h3 {
    color: var(--white-color);
    font-size: 24px;
    font-weight: 700;
}

.services-section .featured-icon-box .featured-content .featured-desc {
    margin-bottom: 32px;
}

.services-section .featured-icon-box .featured-content .featured-desc p {
    color: var(--body-fonts-color);
    line-height: 2;
}

.services-section .featured-icon-box .featured-content a {
    color: var(--skin-color);
    font-weight: 600;
}

.services-section .featured-icon-box .featured-content a:hover i {
    animation: moving 1.5s infinite;
    -webkit-animation: moving 1.5s infinite;
}

.services-section .img-services {
    z-index: -1;
    height: 100%;
}

.services-section .layer-content {
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: url(../images/services/content-image.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.services-section .layer-content::before {
    content: "";
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.services-section .img-services .featured-content {
    position: relative;
    right: 0;
    top: 0;
    transform: translateY(50%);
    padding: 0 40px 0 0;
}

.services-section .img-services .featured-content .featured-title h3 {
    font-size: 32px;
    font-weight: 600;
}

.services-section .img-services .featured-content .featured-desc p {
    line-height: 2;
    padding: 0 0 0 118px;
    font-size: 16px;
    font-weight: 300;
    color: var(--grey-color);
    padding-bottom: 40px;
}

.services-section .img-services .featured-content a {
    color: var(--skin-color);
    font-weight: 700;
    font-size: 18px;
}

.services-section .img-services .featured-content a:hover i {
    animation: moving 1.5s infinite;
    -webkit-animation: moving 1.5s infinite;
}

@media (max-width: 767px) {
    .services-section .featured-icon-box {
        margin-top: 30px;
    }
    .services-section .img-services {
        height: 400px;
    }
    .services-section .img-services .featured-content .featured-title h3 {
        font-size: 28px;
    }
    .services-section .img-services .featured-content .featured-desc p {
        padding: 0;
    }
}


/* End of Start Services */


/* Projects */

.projects-section {
    padding: 100px 0 0 0;
}

.project_item {
    width: 330px;
}

.projects-section .project-container .title-header {
    position: relative;
}

.projects-section .project-container .title-header::before {
    content: "";
    position: absolute;
    width: 7px;
    height: 100%;
    background: var(--skin-color);
    right: -20px;
}

.projects-section .project-title {
    position: relative;
    margin-bottom: 45px;
}

.projects-section .project-title::before {
    position: absolute;
    content: '';
    width: 800px;
    height: 500px;
    top: -118px;
    right: -161px;
    background-color: var(--grey-color);
    z-index: -2;
}

.projects-section .project-container .title-header h3 {
    color: var(--body-fonts-color);
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
}

.projects-section .project-container .title-header h2 {
    color: var(--dark-grey-color);
    line-height: 1.7;
    font-size: 40px;
    font-weight: 600;
    padding: 0 0 0 234px;
}

.projects-section .project-container .title-header h2 span {
    color: var(--skin-color);
    font-style: italic;
}

.content-tab .featured-imagebox {
    position: relative;
}

.content-tab .featured-imagebox .view-overlay {
    position: relative;
    overflow: hidden;
}

.content-tab .featured-imagebox .view-overlay::before {
    position: absolute;
    content: '';
    width: 100%;
    background: rgba(0, 0, 0, .3);
    height: 0%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

.content-tab .featured-imagebox .featured-thumbnail img {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

.content-tab .featured-imagebox .featured-thumbnail {
    -webkit-transition: transform 0.5s ease-in-out;
    -moz-transition: transform 0.5s ease-in-out;
    -ms-transition: transform 0.5s ease-in-out;
    -o-transition: transform 0.5s ease-in-out;
    transition: transform 0.5s ease-in-out;
    position: relative;
    width: 100%;
}

.content-tab .featured-imagebox:hover .featured-thumbnail {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.content-tab .featured-imagebox:hover .view-overlay::before {
    height: 100%;
}

.content-tab .featured-imagebox .featured-content {
    position: relative;
    background-color: #fff;
    top: -60px;
    left: 0;
    text-align: center;
    z-index: 10;
    display: inline-block;
    width: 93%;
    padding: 10px 0;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 9%);
}

.content-tab .featured-imagebox .featured-content::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0%;
    bottom: 0;
    left: 0;
    background-color: var(--skin-color);
    z-index: -1;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}

.content-tab .featured-imagebox:hover .featured-content::before {
    height: 100%;
}

.content-tab .featured-imagebox:hover .category,
.content-tab .featured-imagebox:hover .category span,
.content-tab .featured-imagebox:hover .featured-title h3 a {
    color: var(--white-color);
}

.content-tab .featured-title {
    margin-bottom: 14px;
}

.content-tab .featured-title h3 a {
    color: var(--dark-grey-color);
    font-size: 24px;
}

.content-tab .category,
.content-tab .category span {
    color: var(--body-fonts-color);
}

@media (max-width: 767px) {
    .project_item {
        width: 100%;
    }
    .projects-section .project-container .title-header h2 {
        padding: 0;
    }
    .projects-section .project-title {
        margin-bottom: 80px;
    }
    .projects-section .project-title::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 250px;
        top: -110px;
        right: -106px;
        background-color: var(--grey-color);
        z-index: -2;
    }
    .projects-section .isotope-project {
        display: flex;
        justify-content: center;
    }
    .projects-section .project-title::before {
        right: 0;
    }
    .projects-section .project-title {
        padding-right: 20px;
    }
}


/*End of Projects */


/* image-section- */

.image-section {
    position: relative;
    background: url(../images/image-section/row-bgimage-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* background-attachment: fixed; */
    padding: 150px 0;
    margin-top: 10px;
    z-index: 1;
}

.image-section .overlay {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: -1;
}

.image-section .section-title {
    color: var(--white-color);
    z-index: 10000000;
}

.image-section .section-title h4 {
    background-color: var(--skin-color);
    color: var(--dark-grey-color);
    display: inline;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    z-index: 10000000;
}

.image-section .section-title h2 {
    margin: 15px 0 30px 0;
    font-size: 45px;
    font-weight: 700;
    line-height: 1.6;
}

@media (max-width:767px) {
    .image-section .section-title h2 {
        font-size: 29px;
        line-height: 1.6;
    }
}

.image-section .section-title h2 span {
    color: var(--skin-color);
    font-style: italic;
}

.image-section .section-title .title-desc {
    color: var(--white-color);
    line-height: 2;
    font-size: 22px;
    font-weight: 300;
}

.image-section .section-title .contact {
    margin-top: 40px;
}

.image-section .section-title .contact a {
    position: relative;
    text-decoration: none;
    background-color: var(--dark-grey-color);
    color: var(--white-color);
    padding: 12px 29px;
    font-size: 20px;
    font-weight: 400;
    z-index: 1;
    border: 1px solid var(--dark-grey-color);
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.image-section .section-title .contact a:hover {
    background-color: var(--skin-color);
    border: 1px solid var(--skin-color);
}


/* eng of image-section- */


/* how it work section */

.how-it-work {
    position: relative;
    background: url(../images/how-it-work/row-bgimage-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* background-attachment: fixed; */
    padding: 100px 0;
    margin-top: 10px;
    z-index: 1;
    margin-top: 0;
}

.how-it-work::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--grey-color);
    opacity: 0.5;
    z-index: -1;
}

.how-it-work .project-title {
    position: relative;
    margin-bottom: 55px;
}

.how-it-work .project-title::before {
    content: "";
    position: absolute;
    width: 7px;
    height: 100%;
    background: var(--skin-color);
    right: -20px;
}

.how-it-work .title-header h3 {
    color: var(--body-fonts-color);
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
}

.how-it-work .title-header h2 {
    color: var(--dark-grey-color);
    line-height: 1.7;
    font-size: 40px;
    font-weight: 600;
}

.how-it-work .title-header h2 span {
    color: var(--skin-color);
    font-style: italic;
}

.how-it-work .front-img {
    position: relative;
}

.how-it-work .front-img img {
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    animation: moving-up 5s linear infinite;
    -webkit-animation: moving-up 5s linear infinite;
}

.how-it-work .front-img img {
    position: absolute;
    z-index: 1;
    right: 80px;
    top: 50px;
}

.how-it-work .back-img {
    position: relative;
}

.how-it-work .back-img::after {
    position: absolute;
    content: "";
    width: 385px;
    height: 100%;
    top: 0;
    right: 0;
    background-color: var(--skin-color);
    opacity: 0.5;
}

.how-it-work .box {
    background-color: var(--dark-grey-color);
}

.how-it-work .right-box {
    position: relative;
}

.how-it-work .left-box {
    background-color: var(--skin-color);
}

.how-it-work .image-box img {
    width: 350px;
}

.how-it-work .bottom-row {
    margin-top: 10px;
}

.how-it-work .box .featured-content {
    color: var(--white-color);
    padding: 0 20px 0 0;
    position: relative;
    top: 0;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -ms-transform: translateY(50%);
    -o-transform: translateY(50%);
}

.how-it-work .box .layer-content .featured-title {
    margin-bottom: 30px;
}

.how-it-work .box .layer-content h3 {
    line-height: 1.8;
}

.how-it-work .box a {
    color: var(--white-color);
    font-weight: 600;
}

.how-it-work .box a:hover {
    color: var(--dark-grey-color);
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.how-it-work .right-box a:hover {
    color: var(--skin-color);
}

.how-it-work .box a:hover i {
    animation: moving 1.5s infinite;
    -webkit-animation: moving 1.5s infinite;
}

@media (max-width: 767px) {
    .how-it-work .front-img img {
        animation: none;
        -webkit-animation: none;
        width: 85%;
        right: 20px;
    }
    .how-it-work .back-img img {
        width: 95%;
    }
    .how-it-work .back-img::after {
        width: 95%;
    }
    .how-it-work .content {
        margin-top: 60px;
    }
    .how-it-work .box {
        height: 200px;
        width: 95%;
    }
    .how-it-work .bottom-row,
    .how-it-work .top-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
    .how-it-work .box .featured-content {
        transform: translateY(10%);
        -webkit-transform: translateY(10%);
        -moz-transform: translateY(10%);
        -ms-transform: translateY(10%);
        -o-transform: translateY(10%);
    }
    .how-it-work .project-title::before {
        right: 0;
    }
    .how-it-work .project-title {
        padding-right: 20px;
    }
    .how-it-work .image-box img {
        width: 100%;
    }
    .how-it-work .title-header h2 {
        font-size: 29px;
    }
}


/* end of how it work section */


/* contact-us */

.contact-us {
    padding: 80px;
}

.contact-us .section-title {
    text-align: center;
}

.contact-us .section-title .title-header {
    position: relative;
    margin-top: 60px;
    margin-bottom: 60px;
}

.contact-us .section-title .title-header h3 {
    color: var(--dark-grey-color);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
}

.contact-us .section-title .title-header h2 {
    font-weight: 700;
    color: var(--dark-grey-color);
    font-size: 45px;
}

@media (max-width: 767px) {
    .contact-us .section-title {
        text-align: right;
    }
    .contact-us .section-title .title-header h2 {
        font-weight: 600;
        font-size: 29px;
        line-height: 1.6;
    }
}

.contact-us .section-title .title-header h2 span {
    color: var(--skin-color);
    font-style: italic;
}

.contact-us .content-box {
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 9%);
    padding: 20px 55px;
    margin-right: 80px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

@media (max-width: 767px) {
    .contact-us .content-box {
        margin-bottom: 25px;
        margin-right: 0;
    }
}

.contact-us .content-box:hover {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
}

@media (max-width: 767px) {
    .contact-us .content-box:first-of-type {
        padding: 20px 16px;
    }
    /* .contact-us .content-box .img-box {
    margin-bottom: 10px;
} */
    .contact-us .content-box .contcat-box {
        margin-top: 15px;
    }
    .contact-us .content-box .contcat-box h4 {
        color: var(--dark-grey-color);
    }
    .contact-us .content-box .contcat-box a {
        color: var(--skin-color);
        font-weight: 500;
        transition: 0.3s ease-in-out;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -ms-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
    }
    .contact-us .content-box .contcat-box a:hover {
        color: var(--body-fonts-color);
    }
}


/* end of contact-us */


/* start footer */

.footer {
    position: relative;
    background-image: url(../images/footer-bg.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 0 0 0;
}

.footer:after {
    content: "";
    background-color: var(--dark-grey-color);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
    z-index: -1;
}

.footer .footer-box {
    margin: 22px 0;
}

.footer .recent-links .footer-links {
    list-style: none;
}

.footer .recent-links .footer-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.footer .recent-links .footer-links li {
    display: flex;
    justify-content: flex-start;
    column-gap: 10px;
    align-items: baseline;
}

.footer .recent-links .footer-links li a {
    color: var(--white-color);
}

.footer .recent-links .footer-links li i,
.footer .recent-links .footer-links li a:hover {
    color: var(--skin-color);
}

.footer .address-box {
    margin: 30px 0;
}

.footer .address-box .address {
    margin-bottom: 30px;
}

.footer .address-box .address p {
    color: var(--white-color);
    font-weight: 300;
    line-height: 2;
}

.footer .address-box .social-links {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
}

.footer .address-box .social-links a {
    width: 45px;
    height: 45px;
    line-height: 43px;
    border: 2px solid var(--skin-color);
    text-align: center;
    display: block;
    margin: 0 3px;
    background-color: transparent;
}

.footer .address-box .social-links a i {
    color: var(--skin-color);
    font-size: 22px;
    background: inherit;
    color: var(--grey-color);
    font-weight: 300;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.footer .address-box .social-links a:hover i {
    color: var(--skin-color);
}

.footer .copright {
    position: relative;
    text-align: center;
    font-weight: 300;
}

.footer .copright::before {
    position: absolute;
    position: absolute;
    content: "";
    width: 130%;
    height: 1px;
    background-color: var(--body-fonts-color);
    left: -143px;
    top: 0;
}

@media (max-width: 767px) {
    .footer .copright::before {
        width: 100%;
        left: 0;
    }
}

.footer .copright {
    font-weight: 500;
    padding: 20px 0 0 0;
    color: var(--grey-color);
}

.footer .copright span {
    color: var(--skin-color);
}


/* end of start footer */


/* to-top */

.to-top {
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 30px;
    right: -150px;
    background-color: var(--skin-color);
    padding-top: 3px;
    line-height: 38px;
    text-align: center;
    z-index: 999;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.show {
    right: 30px;
}

@media (max-width: 767px) {
    .container {
        width: 95%;
    }
    .show {
        right: 22px;
    }
}

.to-top i {
    font-size: 22px;
    color: var(--dark-grey-color);
}


/* end to-top */